#results {
    margin: auto;
    width: 50%;
    border: 3px solid lightpink;
    padding: 10px;
}

body {
    font-family: LucidaGrande, Arial, sans-serif;
    background-color: darkseagreen;
    color: blanchedalmond;
}

button {
    appearance: none;
    background-color: blanchedalmond;
    border-radius: 40em;
    border-style: none;
    box-shadow: lightpink 0 -12px 6px inset;
    box-sizing: border-box;
    color: darkseagreen;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:hover {
    background-color: pink;
    box-shadow: blanchedalmond 0 -6px 8px inset;
    color: blanchedalmond;
    transform: scale(1.125);
  }
  
  button:active {
    transform: scale(1.025);
  }
  
  @media (min-width: 768px) {
    button {
      font-size: 1.5rem;
      padding: .75rem 2rem;
    }
  }

  a {
    color: blanchedalmond;
  }